<md-content layout-fill>
  <header>
    <md-toolbar layout="row" layout-align="space-between center">

      <md-button href="https://github.com/dot-louis/loopback-browser">loopback browser</md-button>
      <span flex></span>
      <md-button ng-if="!isLoggedIn()" ng-click="loginWith('facebook')">Login</md-button>
      <md-button ng-if="isLoggedIn()" ng-click="logout()">Logout</md-button>

    </md-toolbar>
  </header>

  <md-content layout="row" layout-align="center center">
    <section layout="column" layout-align="start center" ng-include="'/app/components/modeltree/modeltree.html'"></section>
    <section ui-view="model"></section>
  </md-content>
</md-content>
