<md-content layout-fill>
  <header>
    <md-toolbar layout="row" layout-align="space-between center">

      <md-button ng-click="toggleSidenav('left')">Models</md-button>
      <md-button href="https://github.com/dot-louis/loopback-browser">loopback browser</md-button>
      <span flex></span>
      <md-button ng-if="!isLoggedIn()" ng-click="loginWith('facebook')">Login</md-button>
      <md-button ng-if="isLoggedIn()" ng-click="logout()">Logout</md-button>

    </md-toolbar>
  </header>

  <div layout="row" flex>
    <section ng-include="'/app/components/modeltree/modeltree.html'"></section>
    <section ui-view="model"></section>
  </div>
</md-content>
